<!DOCTYPE html>
<html>
<head>
  <title>IshLibTravel</title>
  <%= stylesheet_link_tag    "ish_lib_travel/application", media: "all" %>
  <%= javascript_include_tag "ish_lib_travel/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
